# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/

# ===============================
# Django
# ===============================
*.log
local_settings.py
db.sqlite3
staticfiles/

# Media uploads (VERY IMPORTANT)
# media/

# ===============================
# Environment Variables
# ===============================
.env
.env.*
!.env.example

# ===============================
# Cache & Temp
# ===============================
*.cache
*.tmp
*.bak
*.swp
*.swo

# ===============================
# IDEs & OS
# ===============================
.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db

# ===============================
# Packaging
# ===============================
pip-wheel-metadata/
*.egg-info/
dist/
build/

# ===============================
# Tests & Coverage
# ===============================
htmlcov/
.coverage
.coverage.*
.pytest_cache/


